.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-pagination {
    position: unset;
}
.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
    position: unset;
    width: auto;
}
/*Pagination slider */
.gallery-thumbs.swiper-container-vertical .swiper-wrapper{
    display: block;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    display: none;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.display-swiper-pagination-style1 .swiper-pagination{
    position: relative;
}
.display-swiper-pagination-style1 .swiper-pagination-bullet{
    height: 15px;
    width: 15px;
    border: 2px solid #dadada;
    background: transparent;
    border-radius: 0px;
    display: inline-block;
    opacity: 1;
    margin-right: 15px;
    transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
}
.display-swiper-pagination-style1 .swiper-pagination-bullet:last-child{
    margin-right: 0px;
}
.display-swiper-pagination-style1 .swiper-pagination-bullet-active,
.display-swiper-pagination-style1 .swiper-pagination-bullet:hover
{
    border-color: #000;
}

.display-swiper-pagination-style2 .swiper-pagination-bullets{
    display: flex;
    justify-content: center;
}
.display-swiper-pagination-style2 .swiper-pagination-bullet{
    height: 12px;
    width: 12px;
    border-radius: 100%;
    background:  #CFCFCF;
    border: 1px solid #fff;
    position: relative;
    margin-right: 10px;
    opacity: 1;
    transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
}
.display-swiper-pagination-style2 .swiper-pagination-bullet:last-child{
    margin-right:0px;
}

.display-swiper-pagination-style2 .swiper-pagination-bullet:hover,
.display-swiper-pagination-style2 .swiper-pagination-bullet-active{
    background: var(--bzo-main-color);
    border-color: var(--bzo-main-color);
    box-shadow: none;
}

/*------------------*/
.display-swiper-pagination-style3 .swiper-pagination-bullet{
    height: 5px;
    width: 25px;
    background: #e4e4e4;
    position: relative;
    margin-right: 10px;
    border-radius: 0px;
    opacity: 1;
}
.display-swiper-pagination-style3 .swiper-pagination-bullet-active{
    background: var(--bzo-main-color);
}
.display-swiper-pagination-style3 .swiper-pagination {
    width: 100%;
    margin-top:32px;
}
.display-swiper-pagination-style3 .swiper-pagination-bullet:last-child{
    margin-right:0px;
}
/*------------------------*/

.display-swiper-pagination-style4 .swiper-pagination-bullet{
    height: 10px;
    width: 10px;
    background: #EBEBEB;
    position: relative;
    margin-right: 12px;
    border-radius: 50%;
    opacity: 1;
}
.display-swiper-pagination-style4 .swiper-pagination-bullet:hover{
    background: #fff;
}
.display-swiper-pagination-style4 .swiper-pagination-bullet-active{
    background: #fff;
    width: 35px;
    border-radius: 12px;
}
.display-swiper-pagination-style4 .swiper-pagination {
    width: 100%;
}
.display-swiper-pagination-style4 .swiper-pagination-bullet:last-child{
    margin-right:0px;
}
/*-------------------------*/
.display-swiper-pagination-number .swiper-pagination-bullet:before{
    content: '';
    width: 58px;
    height: 58px;
    line-height: 58px;
    display: inline-block;
    background: transparent;
    transform: rotate(45deg);
    position: absolute;
    z-index: -1;
    left: 1px;
    top: 3px;
}
.display-swiper-pagination-number .swiper-pagination-bullet{
    position: relative;
    width: 58px;
    height: 58px;
    line-height: 58px;
    margin-right: 15px;
    background: transparent;
    color: #000;
    display: inline-block;
    border-radius: 0;
    opacity: 1;
    font-size: 24px;
    text-align: center;
}
.display-swiper-pagination-number .swiper-pagination-bullet.swiper-pagination-bullet-active{
    color: #fff;
}
.display-swiper-pagination-number .swiper-pagination-bullet.swiper-pagination-bullet-active:before{
    background: #ffbc7b;
}

/*-------- Navi slider ---------*/



/*================= Navigation style 1 ===============*/
.display-swiper-navi-group .bzotech-swiper-navi{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
}
.display-swiper-navi-group .bzotech-swiper-navi .swiper-button-nav {
    position: unset;
    background: #ebebeb;
    border-radius: 5px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #727272;
    margin: 0;
    margin-left: 5px;
    border: none;
    transition: all .2s ease-out 0s;
    -webkit-transition: all .2s ease-out 0s
}
.display-swiper-navi-group .bzotech-swiper-navi .swiper-button-prev{
    float: left;
}
.display-swiper-navi-group .bzotech-swiper-navi .swiper-button-next{
    float: right;
}
.display-swiper-navi-group .bzotech-swiper-navi .swiper-button-nav:hover{
    background-color: var(--bzo-main-color);
    transition: all .2s ease-out 0s;
    color: #fff;
}

/*================= Navigation style 3 ===============*/
.display-swiper-navi-group2{

}
.display-swiper-navi-group2 .bzotech-swiper-navi{

}


/*================= Navigation style 2 - group ===============*/
.display-swiper-navi-style1{
    position: relative;
}
.display-swiper-navi-style1 .bzotech-swiper-navi .swiper-button-nav{
    position: absolute;
    top: 50%;
    margin-top: -16px;
    z-index: 1;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 5px;
    background-color: #ebebeb;
    color: #727272;
    border: none;
    transition: .3s;
    font-size: 18px;
}
.display-swiper-navi-style1 .bzotech-swiper-navi .swiper-button-nav:hover{
    background: var(--bzo-main-color);
    color: #ffff;
    cursor: pointer;
    transition: .25s;
}
.display-swiper-navi-style1 .bzotech-swiper-navi .swiper-button-nav.swiper-button-prev {
  left: 0px;
}
.display-swiper-navi-style1 .bzotech-swiper-navi .swiper-button-nav.swiper-button-next {
  right: 0px;  
}

