.custom-lava-rewards-fields {
    border-radius: 6px;
    border: 1px solid #2792D7;
    background: #F6FBFF;
    padding: 20px;
}

.custom-lava-rewards-fields * {
    margin: 0;
}

.custom-lava-rewards-fields h3 {
    color: #2792D7;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.custom-lava-rewards-fields .subheading{
    color: rgba(47, 49, 58, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.035px;
    margin-bottom: 20px;
}

.custom-lava-rewards-fields > .form-row > label {
    color: #2792D7;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 12px;
    font-style: normal;
    line-height: 1 !important;
    position: absolute;
    font-weight: 400 !important;
    top: 10px;
    left: 10px;
}

.custom-lava-rewards-fields > .form-row {
    height: 50px;
    position: relative;
    padding: 0 !important;
    border-radius: 6px;
    border: 1px solid #2792D7;
    background: #FFF;
    display: block;
}

.custom-lava-rewards-fields > .form-row > input,
.custom-lava-rewards-fields > .form-row > select {
    background: transparent !important;
    height: 30px !important;
    border: 0 !important;
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1 !important;
    color: rgba(47, 49, 58, 0.80) !important;
}

.custom-lava-rewards-fields > .form-row > select option {
    color: rgba(47, 49, 58, 0.80) !important;
}

.custom-lava-rewards-fields .disclaimer {
    margin-top: 20px;
    font-size: 16px;
    font-style: italic;
}

.woocommerce-account .custom-lava-rewards-fields.lava-fields-group-wrapper input[type=text],
.woocommerce-account .custom-lava-rewards-fields.lava-fields-group-wrapper input[type=date] {
    margin-bottom: 10px;
}