.page-id-35304 .map-container {
    width: 100%; 
    height: 730px;
}

.page-id-35304 .elementor-35304 .elementor-element.elementor-element-7489f71 .flex-box-header-tab-list-item-e {
    width: 400px;
}

.page-id-35304 .flex-wrapper.flex-box-header-tab-item-e.style-header-tab-item-e.tab-item-wrap {
    width: 400px;
    height: 105px;
    border-radius: 100px 20px 20px 100px;
    background: #F4F4F4;
    color: rgba(0, 0, 0, 0.90);
    padding-bottom: 14px;
    position: relative;
}

.page-id-35304 .flex-wrapper.flex-box-header-tab-item-e.style-header-tab-item-e.tab-item-wrap:hover , .page-id-35304 .flex-wrapper.flex-box-header-tab-item-e.style-header-tab-item-e.tab-item-wrap:focus {
    color: rgba(0, 0, 0, 0.90);
}

.page-id-35304 .flex-wrapper.flex-box-header-tab-item-e.style-header-tab-item-e.tab-item-wrap.active {
    width: 400px;
    height: 105px;
    border-radius: 100px 20px 20px 100px;
    background:  #2C3990;
    color: #fff;
    padding-bottom: 14px;
    position: relative;
}

.page-id-35304 .flex-wrapper.flex-box-header-tab-item-e.style-header-tab-item-e.tab-item-wrap.active:hover, .page-id-35304 .flex-wrapper.flex-box-header-tab-item-e.style-header-tab-item-e.tab-item-wrap.active:focus  {
    color: #fff;
}

.page-id-35304 .flex-wrapper.flex-box-header-tab-item-e.style-header-tab-item-e.tab-item-wrap::after {
    content: '';
    position: absolute;
    background-image: url('/wp-content/uploads/2025/06/Background.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    top: 30%;
    left: 15px;
    z-index: 10;  
}

.page-id-35304 .flex-wrapper.flex-box-header-tab-item-e.style-header-tab-item-e.tab-item-wrap.active::after {
    content: '';
    position: absolute;
    background-image: url('/wp-content/uploads/2025/06/Overlay.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    top: 30%;
    left: 15px;
    z-index: 10;
}

.page-id-35304 .flex-wrapper.flex-box-header-tab-item-e.style-header-tab-item-e.tab-item-wrap span {
    margin-left: 75px
}

.page-id-35304 .flex-wrapper.flex-box-header-tab-item-e.style-header-tab-item-e.tab-item-wrap.active span h2 {
    color: #FFF;
    font-family: "Inter", Sans-serif;
    font-size: 27.234px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.75px;
    margin-top: 10px;
    margin-bottom: 4px; 
}

.page-id-35304 .flex-wrapper.flex-box-header-tab-item-e.style-header-tab-item-e.tab-item-wrap span h2,
.page-id-35304 .flex-wrapper.flex-box-header-tab-item-e.style-header-tab-item-e.tab-item-wrap span h1 {
    color: rgba(0, 0, 0, 0.90);
    font-family: "Inter", Sans-serif;
    font-size: 27.234px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.75px;
    margin-top: 10px;
    margin-bottom: 4px; 
}

.page-id-35304 .infowindow-container {
    width: 350px;
}

.page-id-35304 .tab-content {
    width: 100%;
}

.page-id-35304 .elementor-35304 .elementor-element.elementor-element-7489f71 .flex-box-content-tab-e {
    width: 100%;
}

@media (max-width: 570px) {

    .page-id-35304 .flex-wrapper.flex-box-header-tab-e {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        width: 100%;
        flex-shrink: 0;
        z-index: 5;
        position: absolute;
        /*bottom: 0;*/
        bottom: -55px;
    }

    .page-id-35304 .flex-wrapper.flex-box-tab-e.tab-wrap.elbzotech-tabs-global- {
        flex-direction: column;
        gap: 20px;
    }

    /* .page-id-35304 .flex-box-header-tab-list-item-e {
        display: flex;
        flex-direction: row!important;
        gap: 20px !important;
        min-width: max-content;
    } */

    .page-id-35304 .flex-box-header-tab-e::-webkit-scrollbar {
        display: none;
    }

    .page-id-35304 .flex-box-header-tab-e {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .page-id-35304 .map-container {
        width: 100%;
        height: 550px;
    }

    .page-id-35304 .infowindow-container {
        width: 100%;
    }

    .page-id-35304 .flex-wrapper.flex-box-header-tab-item-e.style-header-tab-item-e.tab-item-wrap {
        width: 400px;
        height: 105px;
        border-radius: 100px 20px 20px 100px;
        background: #F4F4F4;
        color: rgba(0, 0, 0, 0.90);
        padding-bottom: 14px;
        position: relative;
    }

    .page-id-35304 .flex-wrapper.flex-box-header-tab-item-e.style-header-tab-item-e.tab-item-wrap.active span {
        color: #FFF;
        font-family: "Inter", Sans-serif;
        font-size: 11.172px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.35px;
        flex-direction: column;
        gap: 10px;
    }

    .page-id-35304 .flex-wrapper.flex-box-header-tab-item-e.style-header-tab-item-e.tab-item-wrap span {
        color: rgba(0, 0, 0, 0.34);
        font-family: "Inter", Sans-serif;
        font-size: 11.172px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.35px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .page-id-35304 .flex-wrapper.flex-box-header-tab-item-e.style-header-tab-item-e.tab-item-wrap {
        width: 230px;
        height: 125px;
        border-radius: 12px 12px 0px 0px;
        border: 4px solid #FFF;
        box-shadow: 0px 5px 9px -1px rgba(0, 0, 0, 0.10);
    }

    .page-id-35304 .flex-wrapper.flex-box-header-tab-item-e.style-header-tab-item-e.tab-item-wrap.active span h2 {
        font-size: 20px;
        line-height: 100%;
    }

    .page-id-35304 .flex-wrapper.flex-box-header-tab-item-e.style-header-tab-item-e.tab-item-wrap span h2 , 
    .page-id-35304 .flex-wrapper.flex-box-header-tab-item-e.style-header-tab-item-e.tab-item-wrap span h1{
        font-size: 22px;
        line-height: 100%;
    }

    .page-id-35304 .flex-wrapper.flex-box-header-tab-item-e.style-header-tab-item-e.tab-item-wrap.active {
        width: 230px;
        height: 125px;
        border-radius: 12px 12px 0px 0px;
    }

    .page-id-35304 .infowindow-container h3 {
        display: none;
    }

    .page-id-35304 .flex-wrapper.flex-box-header-tab-item-e.style-header-tab-item-e.tab-item-wrap.active::after {
        height: 40px;
        width: 40px;
    }

    .page-id-35304 .flex-wrapper.flex-box-header-tab-item-e.style-header-tab-item-e.tab-item-wrap::after {
        height: 40px;
        width: 40px;
    }

    .page-id-35304 .flex-box-header-tab-list-item-e .slick-slide {
        margin-right: 12px;
    }
    .page-id-35304 .flex-box-header-tab-list-item-e .slick-list {
        margin-right: -12px;
    }

    .page-id-35304 p.modal-text {
        color: rgba(0, 0, 0, 0.90);
        font-family: "Inter", sans-serif;
        font-size: 11.273px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.35px;
    }
    
    /* .page-id-35304 .elementor-35304 .elementor-element.elementor-element-7489f71 .flex-box-header-tab-list-item-e {
        width: 400px;
        padding-left: 20%;
    }

    .flex-wrapper.flex-box-header-tab-list-item-e.nav.nav-tabs::before {
        content: '';
        display: block;
        width: 230px;
        height: 125px;
        border-radius: 12px 12px 0px 0px;
        background: #F4F4F4;
        color: rgba(0, 0, 0, 0.90);
        padding-bottom: 14px;
        position: absolute; 
        top: 0; 
        left: -170px; 
        margin-right: 30px;
    } */
}