.searchFormHeader {
    display: flex;
    position: absolute;
    background: #2792D7;
    padding: 10px;
    top: -10px !important;
    z-index: 2;
    border-radius: 6px;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.05);
    padding-top: 5px;
    padding-bottom: 7px;
    margin-top: 10px !important;
    margin-left: 0;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.4s ease, transform 0.4s ease;
    left: -60px;
}

.searchFormHeader > svg  {
    margin-top: 0;
    width: 20px;
    cursor: pointer;
}

.searchFormHeader  .searchInput {
    color: #111 !important;
    padding-right: 5px;
    height: 30px !important;
    font-size: 13px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    max-width: 170px;
    border-radius: 6px;
    max-height: 26px;
    margin-top: 2px;
    margin-right: 8px;
}
.searchFormHeader .xclose{
    color: #fff  !important;
    background: #ff8c22 !important;
    width: 17px;
    height: 17px;
    background: gray;
    line-height: 1.32;
    text-align: center;
    border-radius: 100%;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    top: -10px !important;
    right: -10px;
    transition: all .5s linear;
    cursor: pointer;
}

.searchFormHeader.form-visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.after-append-footer .searchFormHeader {
    display: none !important;
}

@media screen and (max-width: 1280px) {
    .searchFormHeader {
        left: -20px;
    }

}
@media screen and (max-width: 450px) {
    .searchFormHeader .searchInput {
        max-width: 160px !important;
    }
    .searchFormHeader {
        left: -30px !important;
    }
}