/*
Theme Name:   Bw KidXtore Child
Theme URI:    https://kidxtore.bzotech.com/intro/
Author:       The BZOTech
Author URI:   #
Description:  KidXtore is a very cute WooCommerce theme with eye-catching designs and colorful colors. It is the ideal WordPress theme for e-commerce websites or businesses that sell goods for babies and kids.
Template:     bw-kidxtore
Version: 1.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: baby store wordpress theme, kids store wordpress theme, wordpress baby theme, wordpress kid shop theme, baby store woocommerce theme, kids store woocommerce theme, elementor theme, woocommerce theme, wordpress theme
Text Domain: bw-kidxtore-child
*/